# Exclude everything by default
/**/*

# Include all folders
!/**/*/

# But exclude node_modules folders anywhere
node_modules
build
dist

# Include specific file extensions if they appear under a "src" folder
!/src/**/*.ts
!/src/**/*.tsx
!/src/**/*.html
!/src/**/*.less
!/src/**/*.scss
!/src/**/*.json

# But exclude index.html file
/src/index.html